.icon-bar.six-up{ class: "case-finder-#{Rails.env}-navigation" }
  = link_to root_path, class: 'item case-finder-logo-container' do
    = image_tag 'case_finder.png', border: 0, alt: 'Case Finder', class: 'case-finder-logo'
    - unless Rails.env.production?
      = Rails.env.titleize    
  = link_to root_path, class: 'item' do
    %i{ class: "fi-home" }
    %span Home
  = link_to new_batch_import_path(), class: 'item' do
    %i{ class: "fi-upload" }
    %span Import
  = link_to pathology_cases_path(), class: 'item' do
    %i{ class: "fi-page-multiple" }
    %span Pathology Cases
  = link_to new_batch_export_path(), class: 'item' do
    %i{ class: "fi-download" }
    %span Export
  - if user_signed_in?
    = link_to destroy_user_session_path(), method: 'delete', class: 'item' do
      %i{ class: "fi-unlock" }
      %span Log out
  - else
    = link_to new_user_session_path(), class: 'item' do
      %i{ class: "fi-lock" }
      %span Log in