- content_for(:title) do
  Pathology Case

#pathology_case
  .pathology_case_details
    %h2
      %b
        Pathology Case
    %table
      %thead
        %tr
          %th
            Encounter Date
          %th
            Accession Number
          %th
            Patient
          %th
            MRN
          %th
            SSN
          %th
            Birth Date
          %th
            Gender
      %tbody
        %tr
          %td
            = @pathology_case.encounter_date.to_s(:date)
          %td
            = @pathology_case.accession_number
          %td
            = @pathology_case.patient_full_name
          %td
            = @pathology_case.mrn
          %td
            = @pathology_case.ssn
          %td
            = @pathology_case.birth_date.to_s(:date)
          %td
            = @pathology_case.gender
  .pathology_case_abstractions
    .pathology_case_header_actions
      .actions
        = link_to 'Back', controller.back_to_pathology_cases_index, class: 'next_pathology_case_link'
        |
        = link_to 'Last Case', last_pathology_case_pathology_cases_path, class: 'last_pathology_case_link'
        |
        = link_to 'Next Case', next_pathology_case_pathology_cases_path(index: params[:index], previous_pathology_case_id: @pathology_case.id), class: 'next_pathology_case_link'
    = render :partial => 'abstractor/abstractor_abstractions/list', locals: { about: @pathology_case }
    .pathology_case_footer_actions
      .actions
        - if @pathology_case.submitted?
          = button_to 'Remove from METRIQ', Abstractor::UserInterface.abstractor_relative_path(abstractor.update_wokflow_status_abstractor_abstractions_path()), data: { confirm: 'Are you sure?' }, method: :put, class: "abstractor_update_workflow_status_link", remote: false, params: { about_type: @pathology_case.class, about_id: @pathology_case.id, abstraction_workflow_status: Abstractor::Enum::ABSTRACTION_WORKFLOW_STATUS_PENDING, index: params[:index], previous_pathology_case_id: @pathology_case.id }, disabled: false, form_class: 'abstraction_workflow_status_form'
        - else
          = button_to 'Submit to METRIQ', Abstractor::UserInterface.abstractor_relative_path(abstractor.update_wokflow_status_abstractor_abstractions_path()), data: { confirm: 'Are you sure?' }, method: :put, class: "abstractor_update_workflow_status_link #{ @pathology_case.fully_set? ? 'abstractor_update_workflow_status_link_enabled' : 'abstractor_update_workflow_status_link_disabled' }", remote: false, params: { about_type: @pathology_case.class, about_id: @pathology_case.id, abstraction_workflow_status: Abstractor::Enum::ABSTRACTION_WORKFLOW_STATUS_SUBMITTED, index: params[:index], previous_pathology_case_id: @pathology_case.id }, disabled: !@pathology_case.fully_set?, form_class: 'abstraction_workflow_status_form'
        |
        - if @pathology_case.discarded?
          = link_to 'Undiscard Case', Abstractor::UserInterface.abstractor_relative_path(abstractor.undiscard_abstractor_abstractions_path(about_type: @pathology_case.class, about_id: @pathology_case.id, index: params[:index], previous_pathology_case_id: @pathology_case.id)), data: { confirm: 'Are you sure?'}, method: :put, class: 'abstractor_undiscard_case_link'
        - else
          = link_to 'Discard Case', Abstractor::UserInterface.abstractor_relative_path(abstractor.discard_abstractor_abstractions_path(about_type: @pathology_case.class, about_id: @pathology_case.id, index: params[:index], previous_pathology_case_id: @pathology_case.id)), data: { confirm: 'Are you sure?'}, method: :put, class: 'abstractor_discard_case_link'
        |
        = link_to 'Next Case', next_pathology_case_pathology_cases_path(index: params[:index], previous_pathology_case_id: @pathology_case.id), class: 'next_pathology_case_link'