- content_for(:title) do
  Pathology Case

#pathology_case
  .pathology_case_details
    %h2
      %b
        Pathology Case
    = link_to 'Pathology Cases', pathology_cases_path
    |
    = link_to 'Back', controller.back
    %table
      %thead
        %tr
          %th
            Encounter Date
          %th
            Accession Number
      %tbody
        %tr
          %td
            = @pathology_case.encounter_date.to_s(:date)
          %td
            = @pathology_case.accession_number
  .patient
    %h3
      %b
        Patient
    %table
      %thead
        %tr
          %th
            Name
          %th
            MRN
          %th
            SSN
          %th
            Birth Date
          %th
            Gender
      %tbody
        %tr
          %td
            = @pathology_case.patient_full_name
          %td
            = @pathology_case.mrn
          %td
            = @pathology_case.ssn
          %td
            = @pathology_case.birth_date.to_s(:date)
          %td
            = @pathology_case.gender
  .pathology_case_report
    .note_text
      %dl.accordion{ data: { accordion: true }}>
        %dd.accordion-navigation
          = link_to '#note_text' do
            Pathology Case Report
            %i.fi-plus.right
          #note_text.content
            = simple_format(@pathology_case.note)

  = render :partial => 'abstractor/abstractor_abstractions/list', locals: { about: @pathology_case }