- content_for(:title) do
  Pathology Case

#pathology_case
  .pathology_case_details
    %h2
      %b
        Pathology Case
    = link_to 'Back', controller.back
    %table
      %thead
        %tr
          %th
            Encounter Date
          %th
            Accession Number
          %th
            Patient
          %th
            MRN
          %th
            SSN
          %th
            Birth Date
          %th
            Gender
      %tbody
        %tr
          %td
            = @pathology_case.encounter_date.to_s(:date)
          %td
            = @pathology_case.accession_number
          %td
            = @pathology_case.patient_full_name
          %td
            = @pathology_case.mrn
          %td
            = @pathology_case.ssn
          %td
            = @pathology_case.birth_date.to_s(:date)
          %td
            = @pathology_case.gender
  = render :partial => 'abstractor/abstractor_abstractions/list', locals: { about: @pathology_case }