- content_for(:title) do
  Pathology Case

#pathology_case
  .pathology_case_details
    %h2
      %b
        Pathology Case
    %table
      %thead
        %tr
          %th
            Encounter Date
          %th
            Accession Number
          %th
            Patient
          %th
            MRN
          %th
            SSN
          %th
            Birth Date
          %th
            Gender
      %tbody
        %tr
          %td
            = @pathology_case.encounter_date.to_s(:date)
          %td
            = @pathology_case.accession_number
          %td
            = @pathology_case.patient_full_name
          %td
            = @pathology_case.mrn
          %td
            = @pathology_case.ssn
          %td
            = @pathology_case.birth_date.to_s(:date)
          %td
            = @pathology_case.gender
  .pathology_case_abstractions
    .pathology_case_header_actions
      = link_to 'Next Case', next_pathology_case_pathology_cases_path(index: params[:index], previous_pathology_case_id: @pathology_case.id), class: 'next_pathology_case_link'
    = render :partial => 'abstractor/abstractor_abstractions/list', locals: { about: @pathology_case }
    .pathology_case_footer_actions
      - if @pathology_case.discarded?
        = link_to 'Undiscard Case', Abstractor::UserInterface.abstractor_relative_path(abstractor.undiscard_abstractor_abstractions_path(about_type: @pathology_case.class, about_id: @pathology_case.id, index: params[:index], previous_pathology_case_id: @pathology_case.id)), data: { confirm: 'Are you sure?'}, method: :put, class: 'abstractor_discard_case_link'
      - else
        = link_to 'Discard Case', Abstractor::UserInterface.abstractor_relative_path(abstractor.discard_abstractor_abstractions_path(about_type: @pathology_case.class, about_id: @pathology_case.id, index: params[:index], previous_pathology_case_id: @pathology_case.id)), data: { confirm: 'Are you sure?'}, method: :put, class: 'abstractor_discard_case_link'
      = link_to 'Next Case', next_pathology_case_pathology_cases_path(index: params[:index], previous_pathology_case_id: @pathology_case.id), class: 'next_pathology_case_link'