- content_for(:title) do
  Pathology Cases

#pathology_cases
  .pathology_cases_header
    %h2
      %b
        Pathology Cases
    = form_tag pathology_cases_path(), :method => 'get', :id => 'search_pathology_cases_form'  do
      .search
        = label_tag :filter, 'Search'
        = text_field_tag :search, (params[:search].nil? ? '' : params[:search]), type: 'search'
      .filter
        = label_tag :filter, 'Reviewed?'
        = select_tag :filter, options_for_select(['all'].concat(@filter_statuses), selected = params[:filter])
      .flagged_filter
        = label_tag :filter, 'Flagged?'
        = select_tag :suggestion_filter, options_for_select(['all'].concat(@flag_statuses.keys), selected = params[:suggestion_filter])
      .date_from
        = label_tag :date_from, 'From'
        = text_field_tag :date_from, (params[:date_from].nil? ? '' : params[:date_from]), :class => 'datepicker'
      .date_to
        = label_tag :date_to, 'To'
        = text_field_tag :date_to, (params[:date_from].nil? ? '' : params[:date_to]), :class => 'datepicker'
      .navigation
        %button{ :type => 'submit', :id => 'search_pathology_cases_button', class: 'tiny' }
          Search
        &nbsp;
        = link_to 'Clear', pathology_cases_path()
  .pathology_cases_list
    = will_paginate @pathology_cases
    %table
      %thead
        %tr
          %th.pathology_case_accession_number{ width: 200 }
            = sortable 'accession_number'
          %th.pathology_case_encounter_date{ width: 100 }
            = sortable 'encounter_date'
          %th.suggested_histologies{ width: 300 }
            = sortable 'suggested_histologies'
          %th.suggested_sites{ width: 300 }
            = sortable 'suggested_sites'
          %th.review{ width: 100 }
      - @pathology_cases.each_with_index do |pathology_case, i|
        - index = generate_index(params[:page], i)
        %tbody
          = content_tag_for(:tr, pathology_case ) do
            %td.pathology_case_accession_number
              = pathology_case.accession_number
            %td.pathology_case_encounter_date
              = pathology_case.encounter_date
            %td.suggested_histologies
              - pathology_case.suggested_histologies.each do |histology|
                = histology
                %br
            %td.suggested_sites
              - pathology_case.suggested_sites.each do |site|
                = site
                %br
            %td.review
              = link_to 'Review', edit_pathology_case_path(pathology_case, previous_pathology_case_id: pathology_case.id, index: index), { class: 'pathology_case_review_link' }
    = will_paginate @pathology_cases

.sites.hide
  = @sites.to_json
.histologies.hide
  = @histologies.to_json


:javascript
  $(function () {
    new Casefinder.PathologyCasesUI();
  });