- content_for(:title) do
  Pathology Cases

#pathology_cases
  .pathology_cases_header
    .banner
      %h2
        %b
          Pathology Cases
      .countdown
        - countdown = PathologyCase.countdown
        = hidden_field_tag :countdown_total, countdown
        - if countdown > 0
          .progress_label
            %strong
              Countdown:
            %span{ class: 'pending' }
              = PathologyCase.countdown
            %span{ class: 'total' }
              = "of #{PathologyCase.countdown}"
          .progress
            %span{ width: '100%', class: 'meter' }
          %em
            Refresh page for new cases
    = form_tag pathology_cases_path(), :method => 'get', :id => 'search_pathology_cases_form'  do
      .search
        = label_tag :search, 'Search'
        = text_field_tag :search, (params[:search].nil? ? '' : params[:search]), type: 'search'
      .filter
        = label_tag :filter, 'Reviewed?'
        = select_tag :filter, options_for_select(['all'].concat(@filter_statuses), selected = params[:filter])
      .filter_by
        = label_tag :filter_by, 'By'
        = select_tag :filter_by, options_for_select(@filter_by, selected = params[:filter_by]), include_blank: true
      .flagged_filter
        = label_tag :suggestion_filter, 'Flagged?'
        = select_tag :suggestion_filter, options_for_select(['all'].concat(@flag_statuses.keys), selected = params[:suggestion_filter])
      .date_filter
        .date_filter_components
          .date_filter_toggle
            = radio_button_tag :date_filter_type, PathologyCase::COLLECTION_DATE_DATE_TYPE, (params[:date_filter_type] == PathologyCase::COLLECTION_DATE_DATE_TYPE ? true : false)
            = label_tag 'Collected', 'Collected',  for: 'date_filter_type_collected'
            %br
            = radio_button_tag :date_filter_type, PathologyCase::IMPORTED_DATE_DATE_TYPE, (params[:date_filter_type] == PathologyCase::IMPORTED_DATE_DATE_TYPE ? true : false)
            = label_tag 'Imported', 'Imported',  for: 'date_filter_type_imported'
          .date_filter_range
            .date_filter_range_components
              .date_from
                = label_tag :date_from, 'From'
                = text_field_tag :date_from, (params[:date_from].nil? ? '' : params[:date_from]), :class => 'datepicker'
              .date_to
                = label_tag :date_to, 'To'
                = text_field_tag :date_to, (params[:date_from].nil? ? '' : params[:date_to]), :class => 'datepicker'
      .navigation
        %button{ :type => 'submit', :id => 'search_pathology_cases_button', class: 'tiny' }
          Search
        = submit_tag "Download", :name => "download", class: 'tiny button'
        = link_to 'Clear', pathology_cases_path()
  .pathology_cases_list
    = will_paginate @pathology_cases
    %table
      %thead
        %tr
          %th.pathology_case_accession_number{ width: 200 }
            = sortable 'accession_number'
          %th.pathology_case_collection_date{ width: 100 }
            = sortable 'collection_date'
          %th.suggested_histologies{ width: 300 }
            = sortable 'suggested_histologies'
          %th.suggested_sites{ width: 300 }
            = sortable 'suggested_sites'
          %th.review{ width: 100 }
      - @pathology_cases.each_with_index do |pathology_case, i|
        - index = generate_index(params[:page], i)
        %tbody
          = content_tag_for(:tr, pathology_case ) do
            %td.pathology_case_accession_number
              = pathology_case.accession_number
            %td.pathology_case_collection_date
              = pathology_case.collection_date.to_s(:date)
            %td.suggested_histologies
              - pathology_case.suggested_histologies.each do |histology|
                = histology
                %br
            %td.suggested_sites
              - pathology_case.suggested_sites.each do |site|
                = site
                %br
            %td.review
              = link_to 'Review', edit_pathology_case_path(pathology_case, previous_pathology_case_id: pathology_case.id, index: index), { class: 'pathology_case_review_link' }
    = will_paginate @pathology_cases

.sites.hide
  = @sites.to_json
.histologies.hide
  = @histologies.to_json


:javascript
  $(function () {
    var countdownPathologyCasesUrl = decodeURIComponent('#{countdown_pathology_cases_path(format: :json)}');
    new Casefinder.PathologyCasesUI({ countdownPathologyCasesUrl: countdownPathologyCasesUrl });
  });