- content_for(:title) do
  New Export

#batch_export
  .batch_export_header
    %h2
      %b
        New Export
    .batch_export_header_actions
      = button_to 'Create Export', batch_exports_path, data: { confirm: 'Are you sure?' }, method: :post, class: "#{@abstractor_abstraction_groups.empty? ? 'create_batch_export_link_disabled' : 'create_batch_export_link' }", disabled: @abstractor_abstraction_groups.empty?, form_class: 'create_batch_export_button'
      = label_tag :batch_exports, 'Load prior export:', class: 'batch_exports_list_label'
      = select_tag :batch_exports, options_for_select(BatchExport.all.map { |batch_export| ["#{batch_export.id} (#{batch_export.exported_at.to_date.to_s(:date)})", batch_export.id]}), { include_blank: true, class: 'batch_exports_list'}
  .batch_export_details
    - if @not_fully_set_abstractor_abstraction_groups.any?
      .alert-box.alert
        %p
          There are some pathology cases for export that are not fully set!
        .row
          %ol.large-24
            %li.columns.large-6
              Review each pathology case.
            %li.columns.large-6
              Remove it from METRIQ.
            %li.columns.large-6
              Fix the pathology case.
            %li.columns.large-6
              Submit to METRIQ.
      = render partial: 'index', locals: { abstractor_abstraction_groups: @not_fully_set_abstractor_abstraction_groups }
    - else
      = will_paginate @abstractor_abstraction_groups
      = render partial: 'index', locals: { abstractor_abstraction_groups: @abstractor_abstraction_groups }
      = will_paginate @abstractor_abstraction_groups
    - if @abstractor_abstraction_groups.empty?
      .no_abstractor_abstraction_groups
        %strong
          No primary cancers are ready to be exported.

:javascript
  $(function () {
    var batchExportUrl = decodeURIComponent('#{batch_export_path(id: ':id')}'),
      not_fully_set_abstractor_abstraction_groups_size = '#{@not_fully_set_abstractor_abstraction_groups.size}'

    new Casefinder.BatchExportUI({ batchExportUrl: batchExportUrl, not_fully_set_abstractor_abstraction_groups_size: not_fully_set_abstractor_abstraction_groups_size });
  });