- content_for(:title) do
  Export

#batch_export
  .batch_export_header
    %h2
      %b
        ="Export: #{@batch_export.id} (#{@batch_export.exported_at.to_s(:date)})"
    = link_to 'New Export', new_batch_export_path(), class: 'new_batch_export_link'
    .batch_export_header_actions_show
      = link_to 'Create File', batch_export_path(@batch_export, export: true), class: 'create_batch_export_file_link', disabled: @abstractor_abstraction_groups.empty?
  .batch_export_details
    = will_paginate @abstractor_abstraction_groups
    %table
      %thead
        %tr
          %th.pathology_case_accession_number{ width: 200 }
            = sortable 'accession_number'

          %th.pathology_case_collection_date{ width: 100 }
            = sortable 'collection_date'
          %th.histology{ width: 300 }
            = sortable 'histology'
          %th.site{ width: 300 }
            = sortable 'site'
          %th.review{ width: 100 }
      - @abstractor_abstraction_groups.each do |abstractor_abstraction_group|
        %tbody
          = content_tag_for(:tr, abstractor_abstraction_group ) do
            %td.pathology_case_accession_number
              = abstractor_abstraction_group.about.accession_number
            %td.pathology_case_collection_date
              = abstractor_abstraction_group.about.collection_date
            %td.histology
              = abstractor_abstraction_group.histology
            %td.site
              = abstractor_abstraction_group.site
            %td.review
              = link_to 'Review', edit_pathology_case_path(abstractor_abstraction_group.about), { class: 'pathology_case_review_link' }
    = will_paginate @abstractor_abstraction_groups