!!!
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
%html{ class: 'no-js', lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? "Case Finder: #{yield(:title)}" : "Case Finder"

    = javascript_include_tag "vendor/modernizr"
    = stylesheet_link_tag "abstractor/application"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "abstractor/application"
    = csrf_meta_tag
  %body
    = render "shared/navigation"
    = yield
